/* div {
    border: 1px solid red;
} */

#temp {
    font-size: 3rem;
}

#temp span {
    font-size: 4rem;
}

body {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.weather-container {
    min-width: 280px;
    min-height: 540px;
    max-width: 480px;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.90);
    border: 1px solid #11998e;
    box-shadow: 0 5px 5px 0 rgba(17, 153, 142, 0.5), 0 0 0 1px rgb(17, 153, 142);
}